<footer class=" pt-4 py-8 py-md-11 @@classList">
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-4 col-lg-3">
        
        <!-- Brand -->
         <img src="..//img/illustrations/logo-180x180.jpg" style="width:40%" class="img-fluid img-thumbnail"> <br>

        <!-- Text -->
        <p class="text-gray-700 mb-2">A better way to build.</p>
      </div>
      <div class="col-6 col-md-4 col-lg-4">
        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@//img/icons/social/instagram.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@//img/icons/social/facebook.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@//img/icons/social/twitter.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item">
            <a href="#!" class="text-decoration-none">
              <img src="@@//img/icons/social/pinterest.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>