@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=devanagari,latin-ext');
@import url('./theme.css');
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
 
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family: "Poppins";
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

.btn-blue-kronio {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  padding:16px 31px;  
  font: normal 16px/normal Poppins;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #335EEA;
}

.btn-blue-kronio:hover {
  color: rgba(255,255,255,1);
  background: rgba(51,94,234,0.9);
  padding:16px 31px;
}

.btn-green-kronio {
	background-color:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ebebeb;
	display:inline-block;
	cursor:pointer;
	color:#5bc3a6;
	font-family:Poppins;
	font-size:16px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5bc3a6;
}

.btn-green-kronio:hover {
  background-color:#5bc3a6;
  background: #f2f4f5;
}

.btn-green-kronio:active {
	position:relative;
	top:1px;
}

.btn-purple-kronio {
	background-color:#c2cff9;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c2cff9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

.btn-purple-kronio:hover {
	background-color:#c2cff9;
}

.btn-purple-kronio:active {
	position:relative;
	top:1px;
}

.btn-lightblue-kronio {
	background-color:#1098e7;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #1098e7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:13px 20px;
	text-decoration:none;
}
.btn-lightblue-kronio:hover {
	background-color:#1098e7;
}
.btn-lightblue-kronio:active {
	position:relative;
	top:1px;
}

        

.input-kronio
{
    padding: 10px;
    font-size: 18px;
    border-width: 1px;
    border-color: #335EEA;
    background-color: #ffffff;
    color: #335EEA;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(66,66,66,.0);
}

.wallpaper-kronio{
  background: linear-gradient(90deg, #335EEA 0%, #A46CEC 100.9%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.wallpaper-kronio-overlay{
  background: radial-gradient(589.58px at 50% 50%, rgba(255, 254, 254, 0) 0%, rgba(0, 0, 0, 0.44) 100%);
}

div.sticky-kronio {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}

.title-kronio {
  
  
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 116.87%;
  /* or 37px */
  letter-spacing: 0.125em;
  color: rgba(0, 0, 0, 0.9);
}

.title-black-kronio {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 109.37%;
  /* or 55px */
  letter-spacing: 0.055em;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.title-2-kronio {

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 109.37%;
  /* or 39px */
  text-align: center;
  letter-spacing: 0.125em;
  color: rgba(0, 0, 0, 0.9);
}

.title-3-kronio{

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 109.37%;
  /* identical to box height, or 22px */
  text-align: center;
  letter-spacing: 0.125em;
  color: rgba(0, 0, 0, 0.9);
}
.title-4-kronio{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 145%;
  /* or 25px */
  
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.9);
}
.title-5-kronio{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 133.5%;
  /* or 32px */
  letter-spacing: 0.07em;
  color: #FFFFFF;

}

.text-kronio{
  width: 506px;
  height: 397px;
  left: 836px;
  top: 2426px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 128%;
  /* or 23px */
  letter-spacing: 0.045em;
  color: #869AB8;
}

.text-2-kronio{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 128%;
  /* or 20px */
  text-align: center;
  letter-spacing: 0.045em;
  color: #637691;
}

.text-3-kronio{
  position: absolute;
  width: 235px;
  height: 22px;
  left: 255px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #C2CFF9;
}

.text-4-kronio{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 145%;
  /* or 23px */
  letter-spacing: 0.07em;
  color: #1A1A1A;
}
.text-normal-kronio{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 109.37%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.045em;
  color: #FFFFFF;
}

.pagination kronio {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination kronio.active {
  background-color: dodgerblue;
  color: white;
}

.rectangle-green-kronio{
  background: #5BC3A5;
}

.rectangle-gray-kronio{
  background: #535864;
}
.rectangle-blue-kronio{
  background: #7796FA; 
}

.text-bold-kronio{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 109.37%;
  /* or 39px */
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.img-kronio{
  width: auto;
  margin: 0;
  height: auto;
}

