.btn-takion-purple {
    color: #FFFFFF;
    background-color: #C2CFF9;
    border-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(255, 255, 255);
            box-shadow: rgb(255, 255, 255); }
    .btn-takion-purple:hover {
      color: #FFFFFF;
      background-color: #C2CFF9;
      border-color: rgb(255, 255, 255); }
    .btn-takion-purple:focus, .btn-takion-purple.focus {
      -webkit-box-shadow: none, 0 0 0 0 #C2CFF9;
              box-shadow: none, 0 0 0 0 #C2CFF9; }
    .btn-takion-purple.disabled, .btn-takion-purple:disabled {
      color: #FFFFFF;
      background-color: #C2CFF9;
      border-color: rgb(255, 255, 255); }
    .btn-takion-purple:not(:disabled):not(.disabled):active, .btn-takion-purple:not(:disabled):not(.disabled).active,
    .show > .btn-takion-purple.dropdown-toggle {
      color: #FFFFFF;
      background-color: rgba(194, 207, 249, 0.699);
      border-color: rgba(194, 207, 249, 0.699); }
      .btn-takion-purple:not(:disabled):not(.disabled):active:focus, .btn-takion-purple:not(:disabled):not(.disabled).active:focus,
      .show > .btn-takion-purple.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0 #C2CFF9;
                box-shadow: 0 0 0 0 #C2CFF9; }

.btn-takion-blue {
    color: #FFFFFF;
    background-color: #335EEA;
    border-color: #335EEA;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .btn-takion-blue:hover {
    color: #FFFFFF;
    background-color: #335EEA;
    border-color: rgb(162, 174, 214); }
    .btn-takion-blue:focus, .btn-takion-blue.focus {
    -webkit-box-shadow: none, 0 0 0 0 #335EEA;
    box-shadow: none, 0 0 0 0 #335EEA }
    .btn-takion-blue.disabled, .btn-takion-blue:disabled {
    color: #FFFFFF;
    background-color: #335EEA;
    border-color: #335EEA; }
    .btn-takion-blue:not(:disabled):not(.disabled):active, .btn-takion-blue:not(:disabled):not(.disabled).active,
    .show > .btn-takion-blue.dropdown-toggle {
    color: #FFFFFF;
    background-color: #335EEA;
    border-color: #335EEA; }
    .btn-takion-blue:not(:disabled):not(.disabled):active:focus, .btn-takion-blue:not(:disabled):not(.disabled).active:focus,
    .show > .btn-takion-blue.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 #335EEA;
    box-shadow: 0 0 0 0 #335EEA; }


    input:not(:placeholder-shown) {
      width: 249px;
      height: 57px;
      
      background-color:  rgb(255, 255, 255)!important;
      border-radius: 10px;

   }
   
   
   input:placeholder-shown {
      width: 249px;
      height: 57px;
      color: #FFFFFF;
      background-color:  rgb(255, 255, 255)!important;
      border-radius: 10px;

   }
.wallpaper-takion{
  
  background: linear-gradient(90deg, #335EEA 0%, #A46CEC 100.9%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.wallpaper-takion-overlay{

  background: radial-gradient(589.58px at 50% 50%, rgba(255, 254, 254, 0) 0%, rgba(0, 0, 0, 0.44) 100%);
}

div.sticky-takion {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
 
}

.title-kronio {

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 109.37%;
  /* or 55px */
  
  letter-spacing: 0.045em;
}


