<!-- Aplicación móvil
    ================================================== -->
    <section class="pb-8 pt-11 pb-md-8 pt-md-8">
      <div class="container " data-aos="fade-up">
        <div class="row align-items-center">
          <div class="col-12 col-md-8 col-lg-6 order-md-2">
            <!-- Image -->
            <img src="assets/img/illustrations/Aplicacionmovil.png" class="img-fluid mw-md-100 mw-lg-55 mb-4 mb-md-1" alt="..." data-aos="fade-up" data-aos-delay="100">
          </div>

          <div class="col-12 col-md-8 col-lg-6 order-md-1">
            <!-- Heading -->
            <h1 class="display-6 text-center text-md-left">
              Aplicación móvil  <br>
            </h1>
            <!-- Text -->
            <p class="lead text-center text-md-left text-4-kronio mb-4 mb-lg-8">
              Nuestro servicio está adaptado a las necesidades múltiples de nuestros usuarios, dado que el trabajo puede ocurrir en cualquier lugar sea este en oficina o campo; la aplicación móvil TAKIÓN tiene todo lo que usted y sus empleados necesitan para rastrear en tiempo preciso y procesar la nómina en minutos con su software preferido, incluso cuando la cobertura Wi-Fi y celular no esté disponible. 
            </p>
            <!-- List -->
            <ul class="list-unstyled">
              <li class="media">
                <img src="./assets/svg/checkcircleblue.svg" height="25" class="mr-3" alt="icons">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Organice y ahorre tiempo, edite turnos de trabajos desde la aplicación.</h5>
                </div>
              </li>
              <li class="media my-4">
                <img src="./assets/svg/checkcircleblue.svg" height="25" class="mr-3" alt="icons">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Ingrese permisos de IESS por enfermedad o por asistencia.</h5>
                </div>
              </li>
              <li class="media">
                <img src="./assets/svg/checkcircleblue.svg" height="25" class="mr-3" alt="icons">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Ver las ubicaciones de los empleados desde la ventana “Quién está trabajando”.</h5>
                </div>
              </li>
              <li class="media my-4">
                <img src="./assets/svg/checkcircleblue.svg" height="25" class="mr-3" alt="icons">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Manejo de nómina fácil, obtendrá más organización y resultados reales de horas de trabajo.</h5>
                </div>
              </li>
            </ul>
        <br>
      </div> <!-- / .container -->
    </section>
    <!-- KRONIO el programa que necesitas
    ================================================== -->
    <section class="pt-12 py-md-4 bg-light">
      <div class="container " data-aos="fade-up">
      <div class="text-center">
        <h1 class="pt-12 py-md-2 title-2-kronio"> KRONIO el programa que necesitas </h1>
        <h3 class="pt-12 py-md-8 text-4-kronio"> Nuestro rastreador, con diferentes hojas de tiempo y métodos de seguimiento del tiempo que esta donde estén tus trabajadores. Está listo para ahorrar grandes procesos,agilizar y potenciar su negocio con KRONIO. </h3>
      </div>
      <!-- Primer bloque de cards -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 py-md-4">
                <img  style="width: 100px; height: 200px;" alt="gps" src="./assets/svg/localizacion-gps.svg">
              </div>
              <div class="col-md-6">
                <blockquote class="blockquote">
                <h3 class="title-4-kronio">Localización GPS </h3>
                  <p class="text-4-kronio ">
                    <br>Vea quién está en el reloj y dónde 
                    <br>están trabajando, todo en tiempo 
                    <br>real. Obtenga más información sobre 
                    <br>el seguimiento por GPS. 
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 py-md-4 m-md-0">
                <img  style="width: 100px; height: 200px;" alt="gps" src="./assets/svg/firmas.svg">
              </div>
              <div class="col-md-6">
                <blockquote class="blockquote">
                <h3 class="title-4-kronio">Firmas de partes de horas </h3>
                  <p class="text-4-kronio ">
                    <br>Capture firmas para cierres de 
                    <br>proyecto. Los empleados pueden  
                    <br>adjuntar una firma a su hoja de horas 
                    <br>mientras usan la aplicación móvil 
                    <br>KRONIO.
                  </p>
                </blockquote>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 py-md-4 m-md-0">
                <img  style="width: 100px; height: 200px;" alt="gps" src="./assets/svg/suitcase.svg">
              </div>
              <div class="col-md-6">
                <blockquote class="blockquote">
                <h3 class="title-4-kronio">Rastrear y enviar el tiempo libre pagado </h3>
                  <p class="text-4-kronio ">
                    <br>Use la aplicación móvil para rastrear  
                    <br>el tiempo libre pagado, los días de 
                    <br>enfermedad y las vacaciones en  
                    <br>cualquier momento y en cualquier 
                    <br>lugar.
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 py-md-4 m-md-0">
                <img  style="width: 100px; height: 200px;" alt="gps" src="./assets/svg/calendario-programación.svg">
              </div>
              <div class="col-md-6">
                <blockquote class="blockquote">
                <h3 class="title-4-kronio">Programación rápida </h3>
                  <p class="text-4-kronio ">
                    <br>Cree, edite y publique trabajos  
                    <br>programadoso turnos desde  
                    <br>cualquier lugar.  
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 py-md-4 m-md-0">
                <img  style="width: 100px; height: 200px;" alt="gps" src="./assets/svg/smartphone-clock.svg">
              </div>
              <div class="col-md-6">
                <blockquote class="blockquote">
                <h3 class="title-4-kronio">Hojas de horas móviles</h3>
                  <p class="text-4-kronio ">
                    <br>Registre la entrada o la salida al   
                    <br>instante desde un Android o iPhone. 
                    <br>KRONIO funciona incluso sin cobertura 
                    <br>celular. ¡Llévate tu tablet con nuestro
                    <br>plan! 
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 py-md-4 m-md-0">
                <img  style="width: 100px; height: 200px;" alt="gps" src="./assets/svg/network.svg">
              </div>
              <div class="col-md-6">
                <blockquote class="blockquote">
                <h3 class="title-4-kronio">Funcionalidad del grupo</h3>
                  <p class="text-4-kronio ">
                    <br>Los gerentes de equipo pueden 
                    <br>registrar la entrada / salida de los  
                    <br>miembros del equipo individualmente 
                    <br>o de una vez. 
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- HORAS MOVILES 
      ================================================== -->
    <section class="pt-8 pt-md-11 py-md-8">
      <div class="container " data-aos="fade-up">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-4 col-8 order-md-2">
            <!-- Image -->
            <img src="assets/img/illustrations/compu-cel.png" class="img-fluid  aos-init aos-animate mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">
          </div>
          <div class="col-lg-8 col-4 order-md-1">
            <!-- Heading -->
            <h1 class="text-center text-md-left">
              Hojas de horas móviles
            </h1>
            <!-- Text -->
            <p class="text-left text-4-kronio ">
              <br>Registre la entrada o la salida al instante desde un 
              <br>Android o iPhone . KRONIO funciona incluso sin cobertura 
              <br>celular. ¡Llévate tu tablet con nuestro plan!Registre la 
              <br>entrada o la salida al instante desde un Android o iPhone. 
              <br>KRONIO funciona incluso sin cobertura celular. ¡Llévate tu 
              <br>tablet con nuestro plan!Registre la entrada o la salida al 
              <br>instante desde un Android o iPhone . KRONIO funciona 
              <br>incluso sin cobertura celular. ¡Llévate tu tablet con nuestro 
              <br>plan!Registre la entrada o la salida al instante desde un 
              <br>Android o iPhone . KRONIO funciona incluso sin cobertura 
              <br>celular. ¡Llévate tu tablet con nuestro plan!Registre la
            </p>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
<!-- BARRA VERDE
    ================================================== -->
    <section class="py-6 py-md-8 rectangle-green-kronio">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-8 text-center">
            <h3 class="text-center text-bold-kronio">
              <span>Prueba la diferencia con KRONIO</span>
            </h3>
            <h3 class="text-center text-normal-kronio">
              <span>Regístrate y disfruta 2 meses GRATIS de prueba</span>
            </h3> 
            <button type="button" class="btn-green-kronio active">
              ¡Prueba Gratis KRONIO!
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- imagen con texto 
    ================================================== -->
<section class="pt-2 pt-md-1 pb-2  rectangle-gray-kronio">
    <div class="container-fluid-justify-center">
      <div class="row">
        <div class="col-md-6 py-md-12 ">
          <h2>
            ¿Siente que sus empleados no informan sus horas de trabajo con precisión? 
          </h2>
          <p>
            Apoyamos a las empresas al proporcionar no solo el seguimiento del tiempo en línea. Es un sistema integral que incluye administración de hojas de tiempo, procesamiento de nómina y puntos de acceso.
            En KRONIO solucionamos los problemas en tu empresa. Ya que no solo funciona en oficina, funciona tanto para empleados en el campo como en la oficina. 
            Es la respuesta a tus necesidades. Pueden chequear donde están tus empleados a través de la aplicación las 24 horas en tiempo real. 
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-kronio" src="./assets/img/photos/k-trabajo.png">
        </div>
      </div>
    </div>
    </section>
  <!-- Grupo de lista 
    ================================================== -->
   <section class="pt-6 pt-md-8 pb-8 mb-md-0 rectangle-blue-kronio ">
      <div class="list-group  ">
        <ul class="list-group-flush">
        <li class=" list-group-item rectangle-blue-kronio">Cras justo odio</li>
        <li class="list-group-item rectangle-blue-kronio">Dapibus ac facilisis in</li>
        <li class="list-group-item rectangle-blue-kronio">Morbi leo risus</li>
        <li class="list-group-item rectangle-blue-kronio">Porta ac consectetur ac</li>
        <li class="list-group-item rectangle-blue-kronio">Vestibulum at eros</li>
      </ul>
      </div>
    </section>