<!doctype html>
<html lang="en">
  <head>
   @@include("head.html", {
      "pageTitle": "KRONIO"
    })
    <link rel="stylesheet" href="../assets/css/takion.css">
    <link rel="stylesheet" href="../assets/css/flexboxgrid.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet"  href="../css/scss/navbar.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <script src="./assets/js/theme.min.js"></script>
  </head>
    <nav class="col-md-12 navbar navbar-expand-lg  @@classList">
        <!-- Logo -->
        <a class="navbar-brand" href="@@webRoot/index.html">
          <img src="@@webRoot/assets/img/illustrations/logo-180x180.jpg" style="width:30%" class="navbar-brand img-thumbnail"> <br>
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe fe-x"></i>
          </button>
          <!-- Navigation -->
          <ul class="ml-auto navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="@@webRoot/pricing.html">
              Precios
              </a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarPages" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Características
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarAccount" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Más información
              </a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="true">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                <li class="dropdown-item dropright">
                  <a class="dropdown-item" href="../signin-illustration.html">
                    Sign In
                  </a>
                </li>
                <li class="dropdown-item dropright">
                  <a class="dropdown-item" href="../signup-illustration.html">
                    Sign Up
                  </a>
                </li>
              </ul>
          <!-- Button -->
        </div>
    </nav>
   <body>
 </body>